<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>

        <a href="/">Home</a>
        <a href="/products"> all products</a>
    </header>
    <div>

        <% info.forEach(data=>{%> 
            <img src="<%=data.image %>" alt="">
                <p><b>name</b> <%=data.name %> </p>
                <p><b>price</b> <%=data.price %> </p>
                <p><b>description</b> <%=data.description %> </p>


                <form action="/details/<%=data.id %>?_method=delete" method="post">
                <input type="submit" value="delete">
                </form>
                

  <div>

    <form action="/details/<%=data.id %>?_method=put" method="post">
        <input type="text" name="image" value="<%=data.image %>">
        <input type="text" name="name" value="<%=data.name %>">
        <input type="text" name="price" value="<%=data.price %>">
        <input type="text" name="description" value="<%=data.description %>">
    <input type="submit" value="update">
    </form>
  </div>
    
    <hr>
                    <%}) %>  
    </div>



</body>
</html>